In [ ]:
# 1) Reading the CSV file:

# 1a) Load the provided CSV file into a pandas DataFrame.
import pandas as pd
acc_basketball_df = pd.read_csv('acc_players-2324F.csv')

# 1b) Display the first 5 rows of the DataFrame to understand the structure of the data.
acc_basketball_df.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Totals,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Shooting,Unnamed: 15,Unnamed: 16,Unnamed: 17,Advanced,Unnamed: 19,Unnamed: 20
0,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
1,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.2,0.615,4.1,-0.1,-6.4
2,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.5,0.5,NaN,NaN,3.5,0,-6.7
3,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.62,9.4,0.9,-1.3
4,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0,1,NaN,1.1,0,-8.2

In [ ]:
# 2) Basic analysis:

# 2a) Calculate the total points scored by all players combined.

# Change the column names.
acc_basketball_df.rename(columns =
{'Unnamed: 0': 'Rk', 'Unnamed: 1': 'Player', 'Unnamed: 2': 'Class', 'Unnamed: 3': 'Pos', 'Unnamed: 4': 'School', 'Unnamed: 6': 'MP', 'Unnamed: 7': 'TRB', 'Unnamed: 8': 'AST', 'Unnamed: 9': 'STL', 'Unnamed: 11': 'TOV', 'Unnamed: 12': 'PF', 'Unnamed: 13': 'PTS', 'Unnamed: 15': '2P%', 'Unnamed: 16': '3P%', 'Unnamed: 17': 'FT%', 'Unnamed: 19': 'WS', 'Unnamed: 20': 'BPM'}, inplace = True)
print(acc_basketball_df.columns)

# Change the PTS columns to numeric values.
acc_basketball_df['PTS'] = pd.to_numeric(acc_basketball_df['PTS'], errors = 'coerce')

# Get and print total player points.
total_player_points = acc_basketball_df['PTS'].sum()
print("2a) Total points scored by all players combined:", total_player_points)

# 2b) Find the player who has played the most minutes (MP).
acc_basketball_df['MP'] = pd.to_numeric(acc_basketball_df['MP'], errors='coerce')
most_minutes_player = acc_basketball_df.loc[acc_basketball_df['MP'].idxmax()]['Player']
print('2b) Player with the most minutes played is:', most_minutes_player)

# 2c) Identify the top 5 players in terms of total rebounds (TRB).
acc_basketball_df['TRB'] = pd.to_numeric(acc_basketball_df['TRB'], errors='coerce')
top_5_rebounds = acc_basketball_df.nlargest(5, 'TRB')['Player']
print('2c) Top 5 players in terms of total rebounds:')
print(top_5_rebounds)

Index(['Rk', 'Player', 'Class', 'Pos', 'School', 'Totals', 'MP', 'TRB', 'AST',
       'STL', 'Unnamed: 10', 'TOV', 'PF', 'PTS', 'Shooting', '2P%', '3P%',
       'FT%', 'Advanced', 'WS', 'BPM'],
      dtype='object')
2a) Total points scored by all players combined: 38411.0
2b) Player with the most minutes played is: Casey Morsell
2c) Top 5 players in terms of total rebounds:
6        Armando Bacot
179    Ian Schieffelin
91     Harrison Ingram
45      Mohamed Diarra
150      Norchad Omier
Name: Player, dtype: object

In [ ]:
# 3) Player filtering:

# 3a) Create a new DataFrame containing only players who played more than 500 minutes.
acc_basketball_df['MP'] = pd.to_numeric(acc_basketball_df['MP'], errors='coerce')
fivehundred_plus_df = acc_basketball_df[acc_basketball_df['MP'] > 500]

# 3b) From this filtered DataFrame, determine the player with the highest total assists (AST).
fivehundred_plus_df['AST'] = pd.to_numeric(fivehundred_plus_df['AST'], errors='coerce')
highest_assists_player = fivehundred_plus_df.loc[fivehundred_plus_df['AST'].idxmax()]['Player']
print('3b) Player with the highest total assists (AST):', highest_assists_player)

# 3c) Who are the top 3 Assist Leads in the League print top 3?
fivehundred_plus_df = fivehundred_plus_df.sort_values(by='AST', ascending=False)
top_3_assist_leads = fivehundred_plus_df.nlargest(3, 'AST')['Player']
print('3c) Top 3 Assist Leads in the League:')
print(top_3_assist_leads)

# 3d) Who are the top 3 Shot Blockers?
fivehundred_plus_df['BLK'] = pd.to_numeric(fivehundred_plus_df['Unnamed: 10'], errors='coerce')
top_blockers = fivehundred_plus_df.nlargest(3, 'BLK')['Player']
print('3d) The top 3 Shot Blockers are:')
print(top_blockers)

3b) Player with the highest total assists (AST): Reece Beekman
3c) Top 3 Assist Leads in the League:
8       Reece Beekman
216    Jaeden Zackery
22      Elliot Cadeau
Name: Player, dtype: object
3d) The top 3 Shot Blockers are:
52         Ryan Dunn
158     Quinten Post
6      Armando Bacot
Name: Player, dtype: object

<ipython-input-59-efe7b0ee770a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fivehundred_plus_df['AST'] = pd.to_numeric(fivehundred_plus_df['AST'], errors='coerce')

In [ ]:
# 4) School-based analysis:

# 4a) Group the players by school and calculate the total points scored by each school.
acc_basketball_df['PTS'] = pd.to_numeric(acc_basketball_df['PTS'], errors = 'coerce')
school_points = acc_basketball_df.groupby('School')['PTS'].sum()
print('4a) Total points scored by each school:')
print(school_points)

# 4b) Group the players by School and calculate the total assists (AST) for each team.
acc_basketball_df['AST'] = pd.to_numeric(acc_basketball_df['AST'], errors = 'coerce')
school_assists = acc_basketball_df.groupby('School')['AST'].sum()
print('4b) Total assists (AST) for each team:')
print(school_assists)

4a) Total points scored by each school:
School
Boston College    2667.0
Clemson           2785.0
Duke              2830.0
Florida State     2526.0
Georgia Tech      2272.0
Louisville        2304.0
Miami (FL)        2424.0
NC State          3101.0
North Carolina    3032.0
Notre Dame        2113.0
Pittsburgh        2495.0
School               0.0
Syracuse          2442.0
Virginia          2140.0
Virginia Tech     2547.0
Wake Forest       2733.0
Name: PTS, dtype: float64
4b) Total assists (AST) for each team:
School
Boston College    509.0
Clemson           533.0
Duke              551.0
Florida State     406.0
Georgia Tech      425.0
Louisville        356.0
Miami (FL)        454.0
NC State          536.0
North Carolina    536.0
Notre Dame        335.0
Pittsburgh        452.0
School              0.0
Syracuse          442.0
Virginia          509.0
Virginia Tech     514.0
Wake Forest       429.0
Name: AST, dtype: float64